{# <a class="btn w-button" data-ix="modal-reset-pass-show" href="#">Show Reset Password Modal</a> #}
<div class="modal-reset-pass" data-ix="modal-bg-initial-appearance">
  <div class="modal-wrapper txt-centered user-review">
    {{ set_password_form }}
    <a data-ix="modal-reset-pass-hide" class="modal-reset-pass-hide">Skip this for now</a>
  </div>
</div>